@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #eeebd3;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5d737e;
  opacity: 90%;
  padding: 10px 20px;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}
.navbar a:hover {
  background-color: #708b99;
}

.navbar .title {
  justify-content: left;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.logo span {
  color: white;
  font-size: 20px; /* Adjust the size of the text */
  font-weight: 500;
}
.navbar .nav-links {
  display: flex;
}
.navbar .nav-links a {
  margin-left: 10px;
  font-weight: 500;
}
@media (max-width: 600px) {
  .navbar .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .navbar .nav-links.active {
    display: flex;
  }
  .navbar .burger {
    display: block;
    cursor: pointer;
  }
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.big-card,
.small-card {
  background-color: #5d737e;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.big-card {
  flex: 1;
  margin-right: 20px;
}

.big-card span {
  padding-left: 5px;
  color: white;
  font-size: 20px; /* Adjust the size of the text */
  font-weight: 400;
}

.small-card {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
}

.button-container {
  margin-top: 10px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #7e9dad;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.description {
  margin-top: 10px;
}

.textbox-container {
  margin-top: 10px;
}

.textbox-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Add more specific CSS styling for your images as needed */
.card-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.big-card-image {
  width: auto;
  height: 75%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
