body {
  display: grid;
  place-items: center;
  align-items: center;
  padding: 30px 30px;
}

.card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  border: solid 10px transparent;
  border-radius: 10px;
  background: linear-gradient(#0a0b0a, #0a0b0a) padding-box,
    linear-gradient(45deg, #da2f46, #03203a) border-box;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  padding: 15px;
}

#login-block {
  position: center;

  display: flex;
  width: 1440px;
  height: 780px;
  align-items: center;
  justify-content: center;
  padding: 30px 30px;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  color: aliceblue;
}

#email {
  width: 330px;
  background: none;
  border: none;
  outline: none;
  font-size: 25px;
  font-weight: 700;
}

#email::placeholder {
  color: aliceblue;
}

#password {
  width: 330px;
  background: none;
  border: none;
  outline: none;
  font-size: 25px;
  font-weight: 600;
}

#password::placeholder {
  color: aliceblue;
}

.form-input {
  border: solid 5px transparent;
  border-radius: 5px;
  background: linear-gradient(#0a0b0a, #0a0b0a) padding-box,
    linear-gradient(45deg, #da2f46, #03203a) border-box;
  background-clip: padding-box, border-box;
  background-origin: border-box;
}

.padding {
  height: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  color: aliceblue;
  font-weight: 600;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  column-gap: 30px;
}

.button-container {
  display: flex;
  height: auto;
  width: 150px;
  border: solid 5px transparent;
  border-radius: 5px;
  background: linear-gradient(#0a0b0a, #0a0b0a) padding-box,
    linear-gradient(45deg, #da2f46, #03203a) border-box;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease-in-out;
}

.button-container:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(195, 194, 194, 0.2);
}

.button-container:active {
  /* Styles applied when the card is being clicked */
  transform: scale(0.95); /* Shrink slightly on click */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add a darker shadow */
}

button {
  background: none;
  border: none;
  outline: none;
  color: aliceblue;
  font-weight: 800;
  width: 150px;
  height: 38px;
}

h2 {
  font-weight: 600;
  color: aliceblue;
}
